{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@700&family=Ubuntu:ital,wght@0,300;0,400;1,700&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
    <link rel="stylesheet" href="{% static 'back.css' %}">
    <title>Login</title>
</head>
<body>
<header>
    <div class="header">
        <nav>
            <div class="logo">
                Front
            </div>
            <ul class="nav">
                <li>
                    <a href={% url 'index' %}>
                        <button class="nav_btn1" type="button">home</button>
                    </a>
                </li>

                <li>
                    <a href={% url 'mp' %}>
                        <button class="nav_btn1" type="button">services</button>
                    </a>
                </li>
                <li>
                    <a href={% url 'form' %}>
                        <button class="nav_btn" type="button">contact</button>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>
<div class='container'>
    <div class='str'>
        {% if user.is_authenticated %}
            <p> Login successful!</p>
        {% else %}
            <p> Sign Out!</p>
        {% endif %}
        <form method="post">
            {% csrf_token %}
            <input placeholder="name" name="name">
            <input placeholder="email" name="email">
            <div class="button-add">
                <button
                        type="submit"> Add
                </button>
            </div>
        </form>

        <a href="{% url 'logout' %}">
            <button>
                Logout
            </button>
        </a>
    </div>
    <div class="nav-form">
        <li>
            <a href={% url 'form' %}>
                <button class="nav_btn_form" type="button">Sign up</button>
            </a>
        </li>
        <li>
            <a href={% url 'register' %}>
                <button class="nav_btn_form" type="button">Sign in</button>
            </a>
        </li>
        <li>
            <a href={% url 'login' %}>
                <button class="nav_btn_form" type="button">Log in</button>
            </a>
        </li>

    </div>
</div>
</body>
</html>
<!--sdfghjkl;l.,molkfyftcvtynmi,jo.-->