{% load static %}
<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>PROSCHOOL/Courses</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@700&family=Ubuntu:ital,wght@0,300;0,400;1,700&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
    <link rel="stylesheet" href="{% static 'semenstyle.css' %}">
</head>
<body>
<header>
    <div class="header">

        <nav>
            <div class="logo">
                Front
            </div>
            <ul class="nav">
                <li>
                    <a href={% url 'index' %}>
                        <button class="nav_btn1" type="button">home</button>
                    </a>
                </li>
                <li>
                    <a href={% url 'mp' %}>
                        <button class="nav_btn" type="button">services</button>
                    </a>
                </li>
                <li>
                    <a href={% url 'form' %}>
                        <button class="nav_btn1" type="button">contact</button>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>
<div class="container">
    <p>
        Лендинг
    </p>
    <p>
        Длинная посадочная страница с конверсией от 4% для сбора контактов на
        регистрацию или покупку. Презентация и предложение вашего уникального
        продукта на одной странице с раскрытием преимуществ, необходимости продукта,
        установки доверия между компанией, ее продуктом и посетителем
    </p>
    <button class="container_btn" type="button">Подробнее ⟶</button>
</div>
<div class="container">
    <p>
        Корпоративный сайт
    </p>
    <p>
        Корпоративные сайты — крупные многостраничные ресурсы. Это имиджевый инструмент
        работы фирмы через интернет. На них размещают описание услуг, преимущества,
        продукцию, полную информацию для представительства в интернете
    </p>
    <button class="container_btn" type="button">Подробнее ⟶</button>
</div>
<div class="container">
    <p>
        Интернет-магазин
    </p>
    <p>
        Онлайн-магазин с карточками товаров или услуг. Управление ценами, скидками прямо
        на сайте, онлайн-оплата с возможностью интеграции более 10 платежных систем или
        эквайринга. Интеграция с CRM-системами, онлайн-консультантом, виджетами, каталогом.
        Каталог с фильтрацией, категориями, поиску по ассортименту, возможностью импорта или экспорта продукции
    </p>
    <button class="container_btn" type="button">Подробнее ⟶</button>
</div>
<div class="container">
    <p>
        Сайты онлайн-школ
    </p>
    <p>
        Удобная площадка для привлечения и обучения студентов. Оплата за курсы, CRM-системы,
        чат-боты, воронки, страницы уроков, дополнительные материалы. Такие проекты подходят
        не только инфобизнесу, но и образовательным организациям, если последние ведут онлайн-активность
    </p>
    <button class="container_btn" type="button">Подробнее ⟶</button>
</div>
</body>
